#friend-show-transactions {
    display: flex;
    flex-direction: column;
    /* padding-left: 15px;
    padding-right: 15px; */
    /* padding-top: 5px; */
    font-size: 14px;
    color: #999;
    font-weight: bold;
    list-style: none;
}

.x-owes-you {
    color: rgb(91, 197, 167);
}

.you-owe-x {
    color: rgb(255, 101, 47);
}

#username-friendship-flex {
    display: flex;
    align-items: center;
}

#username-friendship-flex h1 {
    margin-left: 4px;
    margin-bottom: 2px;
}

#username-friendship-flex span {
    vertical-align: center;
    margin-top: 2px;
    margin-left: 5px;
    background-color: #3a87ad;
    border-radius: 3px;
    padding: 1px 4px 2px;
    color: #ffffff;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

#username-friendship-flex span:empty {
    padding: 0;
}

#username-friendship-flex img {
    border: 1px solid #bbb;
    border-radius: 18px;
    height: 34px;
    margin-bottom: 2px;
}

#friend-show-date-bar {
    background: #eee;
    border-bottom: 1px solid #ddd;
    color: #999;
    text-align: center;
    line-height: 18px;
    display: flex;
    padding: 2px 10px 1px;
}

#friend-show-date-bar span {
    color: #666;
    font-size: 11px;
}

#friend-show-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    line-height: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#friend-show-left {
    display: flex;
    align-items: center;
    margin-left: 9px;
    margin-right: 8px;
    width: 150px;
}

#fsl-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
    line-height: 15px;
    margin-right: 8px;
    margin-bottom: 6px;
}

#fsl-date-month {
    color: #999 !important;
    font-size: 10px;
}

#fsl-date-num {
    color: #999 !important;
    font-size: 20px;
    
}

#friend-show-left img {
    line-height: 18px;
    height: 35px;
    width: 21px;
    margin-right: 7px;
}

#friend-show-left span {
    color: rgb(51, 51, 51);
    overflow: hidden;
    text-overflow: ellipsis;

}

#friend-show-right {
    font-weight: normal;
    padding: 11px 10px 12px 5px;
    font-size: 12px;
    line-height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    vertical-align: top;
    color: #aaa;
    cursor: pointer;
    width: 346px;
}

#this-person-paid {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 10px;
}

#amount-owed {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#tpp-amt {
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

#green {
    color: #5bc5a6;
    font-weight: bold;
    font-size: 16px;
}

#orange {
    color: #f6652f;
    font-weight: bold;
    font-size: 16px;
}

#friend-show-delete {
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    margin-right: 10px;
}

#friend-show-delete button {
    margin-top: 15px;
}