#friend-show-transactions {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #999;
    font-weight: bold;
    list-style: none;
}

.x-owes-you {
    color: rgb(91, 197, 167);
}

.you-owe-x {
    color: rgb(255, 101, 47);
}

#username-friendship-flex {
    display: flex;
    align-items: center;
}

#username-friendship-flex h1 {
    margin-left: 4px;
    margin-bottom: 2px;
}

#username-friendship-flex span {
    vertical-align: center;
    margin-top: 2px;
    margin-left: 5px;
    background-color: #3a87ad;
    border-radius: 3px;
    padding: 1px 4px 2px;
    color: #ffffff;
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

#username-friendship-flex span:empty {
    padding: 0;
}

#username-friendship-flex img {
    border: 1px solid #bbb;
    border-radius: 18px;
    height: 34px;
    margin-bottom: 2px;
}

#friend-show-date-bar {
    background: #eee;
    border-bottom: 1px solid #ddd;
    color: #999;
    text-align: center;
    line-height: 18px;
    display: flex;
    padding: 2px 10px 1px;
}

#friend-show-date-bar span {
    color: #666;
    font-size: 11px;
}

#friend-show-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    line-height: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#friend-show-left {
    display: flex;
    align-items: center;
    margin-left: 9px;
    margin-right: 8px;
    width: 150px;
}

#fsl-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
    line-height: 15px;
    margin-right: 8px;
    margin-bottom: 6px;
}

#fsl-date-month {
    color: #999 !important;
    font-size: 10px;
}

#fsl-date-num {
    color: #999 !important;
    font-size: 20px;
}

#friend-show-left img {
    line-height: 18px;
    height: 35px;
    width: 21px;
    margin-right: 7px;
}

#friend-show-left span {
    color: rgb(51, 51, 51);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#friend-show-right0 {
    display: flex;
    justify-content: center;
    margin-right: 72px;
}

#friend-show-right1 {
    font-weight: normal;
    padding: 11px 0 12px 5px;
    font-size: 12px;
    line-height: 15px;
    white-space: nowrap;
    display: flex;
    justify-content: flex-end;
    vertical-align: top;
    color: #aaa;
    width: 100px;
}

#friend-show-right2 {
    font-weight: normal;
    padding: 11px 15px 12px 5px;
    font-size: 12px;
    line-height: 15px;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    vertical-align: top;
    color: #aaa;
    width: 100px;
}

#this-person-paid {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 10px;
}

#amount-owed {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#amount-owed span {
    width: 226;
    display: block;
}

#tpp-amt {
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

#green {
    color: #5bc5a6;
    font-weight: bold;
    font-size: 16px;
}

#orange {
    color: #f6652f;
    font-weight: bold;
    font-size: 16px;
}

#friend-show-delete {
    margin-right: 10px;
}

#friend-show-delete button {
    margin-top: 15px;
}

.pos-running-balance,
.neg-running-balance,
.no-balance {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 583px;
    top: 76px;
    width: 250px;
}

.pos-running-balance {
    color: #5bc5a7;
}

.neg-running-balance {
    color: #ff652f;
}

.no-balance #rb-text,
.no-balance #rb-balance {
    color: #999;
    font-size: 16px;
    line-height: 24px;
    margin-top: -2.5px;
    margin-bottom: 10px;
    font-weight: normal;
}

#rb-text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 5px;
}

#rb-balance {
    font-size: 28px;
    line-height: 22px;
    font-weight: bold;
}

#friend-show-bill {
    background: #f8f8f8;
    padding: 15px;
    box-shadow: inset 0 5px 7px -5px rgba(0,0,0,0.25), inset 0 -3px 7px -5px rgba(0,0,0,0.25);
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    height: 356px;
}

.hide-bill {
    display: none;
}

.show-bill {
    display: flex;
}

#friend-show-bill-topbar {
    display: flex;
    justify-content: flex-start;
    height: 115px;
    padding-bottom: 10px;
}

#topbar-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 86px;
}

#topbar-image {
    border: 1px solid #ddd;
    width: 50px;
    height: 84px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 10px;
    vertical-align: middle;
}

#topbar-span1 {
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 27px;
    margin-bottom: -1px;

}

#topbar-span2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
}

#topbar-span3 {
    margin-top: 3px;
    font-size: 12px;
    color: #999999;
    line-height: 18px;
    font-weight: normal;


}

#edit-expense-btn {
    background: #ff652f;
    color: #fff;
    text-shadow: 0 -1px 0 #c83400;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    padding: 2px 5px;
    font-size: 11px;
    line-height: 14px;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    text-decoration: none;
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-block;
    width: 75px;
    vertical-align: middle;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    text-rendering: optimizeLegibility;
}