.nav-bar {
    height: 33px;
    width: 100%;
    background-color: #5bc5a6;
    border-bottom: 1px solid #48be9d;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-shadow: 0 -1px 0 #39a385;
    color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
}

.nav-div {
    margin: 0 auto;
    height: 33px;
    max-width: 960px;
    position: relative;
    z-index: 10;
}

.nav-user-dropdown {
    display: flex;
    align-content: center;
    float: right;
    padding: 10px 5px 5px;
}

.nav-user-dropdown:hover {
    background: #48be9d;
}

.nav-user-dropdown img {
    height: 22px;
    width: 22px;
    border: 1px solid #3eaf8f;
    background: #3eaf8f;
    border-radius: 12px;
    margin-top: -5px;
    margin-right: 4px;
}

.nav-user-dropdown span {
    vertical-align: center;
    line-height: 19px;
}

.nav-user-dropdown b {
    margin-top: 6px;
    margin-left: 4px;
    color: #fff;
    line-height: 19px;
    opacity: 0.3;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";

}

#center-box {
    display: block;
    width: 558px;
    height: 95%;
    position: absolute;
    z-index: 9;
    top: 33px;
    left: 50%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0 auto;
    margin-left: -280px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

#left-sidebar {
    display: block;
    width: 200px;
    position: absolute;
    top: 35px;
    right: 50%;
    margin-right: 279px;
}

#left-sidebar-box {
    display: flex;
    flex-direction: column;
    width: 168px;
}

#ls-dashboard-link {
    margin: 11px 0 0;
    padding: 3px 8px 5px 5px;
    font-size: 16px;
    line-height: 21px;
}

#ls-recent-link {
    margin: 0 0 10px;
    padding: 3px 8px 5px 5px;
    font-size: 16px;
    line-height: 21px;
}

#ls-all-link {
    line-height: 18px;
    padding: 3px 8px 2px 8px;
    font-size: 14px;
}

#ls-dashboard-link:hover,
#ls-recent-link:hover,
#ls-all-link:hover {
    color: #666;
    background-color: rgb(238, 238, 238);
    text-decoration: none;
}

#ls-dashboard-link,
#ls-recent-link,
#ls-all-link {
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 6px;
    color: rgb(153, 153, 153);
    display: block;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 19px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-decoration-color: rgb(153, 153, 153);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-overflow: ellipsis;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    white-space: nowrap;
    filter: grayscale(100%);
}

#ls-dashboard-link.active,
#ls-recent-link.active,
#ls-all-link.active {
    border-left-color: #5bc5a7;
    border-left-style: solid;
    border-left-width: 6px;
    color: #5bc5a7;
    display: block;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 19px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-decoration-color: rgb(153, 153, 153);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-overflow: ellipsis;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    white-space: nowrap;
    font-weight: bolder;
    filter: grayscale(0%);
}

.ls-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 5px;
    background: #f6f6f6;
    color: #ccc;
    font-size: 11px;
    margin-top: 5px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #eee;
    padding: 4px 5px;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ls-header:hover {
    background: #eee;
    color: #999;
    border-top-color: #e9e9e9;
    border-bottom-color: #e6e6e6;
}

#add-friend-link {
    color: #ccc;
    font-size: 11px;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

#add-friend-link:hover {
    color: #5bc5a7;
}

.friend {
    border-left-color: #fff;
    border-left-style: solid;
    border-left-width: 6px;
    color: rgb(153, 153, 153);
    display: flex;
    align-items: center;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 19px;
    padding-top: 3px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    text-align: left;
    border-left: 6px solid #fff;
    font-weight: 400;
}

.friend li {
    width: 162px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.friend a {
    text-decoration: none;
    color: rgb(153, 153, 153);
}

.icon-user::before {
    margin-top: 2px;
    margin-right: 2px;
}

.icon-list::before {
    margin-top: 2px;
    margin-right: 1px;
}

.friend:hover {
    color: #666;
    background-color: rgb(238, 238, 238);
    text-decoration: none;
}

.friend.active {
    color:  #5bc5a7;
    border-left: 6px solid  #5bc5a7;
    font-weight: 700;
}

.addfriend-box {
    background-color: white;
    border: 1px solid #999999;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.addfriend-box h1 {
    text-align: center;
    font-size: 18px;
}

.add-friend-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.add-friend-btn {
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #999;
}