.nav-bar {
    height: 33px;
    width: 100%;
    background-color: #5bc5a6;
    border-bottom: 1px solid #48be9d;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-shadow: 0 -1px 0 #39a385;
    color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.nav-div {
    margin: 0 auto;
    height: 33px;
    max-width: 940px;
    position: relative;
}

.nav-styled-name {
    float: left;
    padding: 10px 20px 2px;
}

.nav-user-dropdown {
    float: right;
    padding: 10px 20px 2px;
}

#center-box {
    display: block;
    width: 558px;
    min-height: 100%;
    position: absolute;
    top: 35px;
    left: 50%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0 auto;
    margin-left: -279px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

#left-sidebar {
    display: block;
    width: 200px;
    /* remove later */
    height: 500px; 
    /* remove this later */
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -480px;
    border: 1px solid black;
}

#right-sidebar {
    display: block;
    width: 200px;
    /* remove later */
    height: 300px; 
    /* remove this later */
    position: absolute;
    top: 35px;
    right: 50%;
    margin-right: -482px;
    border: 1px solid black;
}

#left-sidebar-box {
    display: flex;
    flex-direction: column;
    width: 168px;
}

#ls-dashboard-link,
#ls-recent-link,
#ls-all-link {
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 6px;
    color: rgb(153, 153, 153);
    display: block;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 19px;
    line-height: 18px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 8px;
    padding-top: 3px;
    text-align: left;
    text-decoration-color: rgb(153, 153, 153);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-overflow: ellipsis;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    white-space: nowrap;
}

#ls-dashboard-link.active,
#ls-recent-link.active,
#ls-all-link.active {
    border-left-color: #5bc5a7;
    border-left-style: solid;
    border-left-width: 6px;
    color: rgb(153, 153, 153);
    display: block;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 19px;
    line-height: 21px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 8px;
    padding-top: 3px;
    text-align: left;
    text-decoration-color: rgb(153, 153, 153);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-overflow: ellipsis;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    white-space: nowrap;
    font-weight: bolder;
}

.ls-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-left: 5px;
    background: #f6f6f6;
    color: #ccc;
    font-size: 11px;
    margin-top: 5px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #eee;
    padding: 4px 5px;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#add-friend-link {
    background: #f6f6f6;
    color: #ccc;
    font-size: 11px;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.friend {
    color: rgb(153, 153, 153);
    display: block;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 12px;
    line-height: 18px;
    margin-bottom: 5px;
    /* padding-bottom: 5px; */
    padding-left: 14px;
    padding-top: 3px;
    text-align: left;
}