.splash-header {
    height: 48px;
    width: 100%;
    background-color: #5bc5a6;
    border-bottom: 1px solid #48be9d;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-shadow: 0 -1px 0 #39a385;
    color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.flex-box {
    margin: 0 auto;
    height: 50px;
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-links {
    display: flex;
    align-items: center;
}

.header-signup-btn {
    margin-left: 5px;
    font-size: 14px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #ff652f;
    padding: 5.5px 10px 5.5px;
    text-shadow: 0 -1px 0 #c83400;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.header-signup-btn:hover {
    background-color: #ff5216;
}

.header-login-btn {
    margin-right: 4px;
    margin-left: 5px;
    font-size: 14px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-color: #5bc5a7;
    padding: 4px 10px 4px;
    text-shadow: 0 -1px 0 #318970;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.header-login-btn:hover {
    background-color: #48be9d;
}

.header-login-btn:focus {
    outline: none;
}

.login-form {
    display: block;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: absolute;
    z-index: 98;
    top: 49px;
    right: 0;
    padding: 10px;
    color: #333;
    text-shadow: none;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    text-align: center;
}

input[type=text], input[type=password] {
    margin-bottom: 8px;
    text-align: left;
    width: 230px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    height: 18px;
    padding: 4px;
    line-height: 18px;
    font-weight: normal;
    cursor: text;
    font-size: 13px;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border-style: solid;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

input::placeholder {
    color: #aaa;
}

input:focus::placeholder {
    color: #d3d3d3;
}

.dropdown-login-btn {
    font-size: 14px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-color: #5bc5a7;
    padding: 4px 10px 4px;
    text-shadow: 0 -1px 0 #318970;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 100%;
}

.dropdown-login-btn:hover {
    background-color: #48be9d;
}

.forgot-password {
    margin-top: 10px;
    margin-bottom: 15px;
}

.forgot-password > a {
    text-decoration: none;
    color: #2094d0;
}

.forgot-password > a:visited {
    text-decoration: none;
    color: #2094d0;
}

.forgot-password > a:hover {
    text-decoration: underline;
    color: #005580;
}

/* NEW USER FORM STYLING */

#signup-box {
    width: auto;
    max-width: 600px;
    margin-top: 50px;
    padding: 0 10px 50px 10px;
    margin: 0 auto;
    position: relative;
    display: flex;
}

#intro {
    text-transform: uppercase;
    font-size: 16px;
    color: #999;
    font-weight: bold;
    line-height: 20px;
    font-family:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#signup-name-label {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #333333;
    line-height: 140%;
    margin: 16px 0 5px;
}

#signup-name-input {
    font-size: 32px;
    font-weight: normal;
    height: 42px;
    color: #333333;
    width: 95%;
    line-height: 110%;
    margin: 0;
    margin-bottom: 17px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 4px;
    font-family:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    vertical-align: middle;
}

#signup-email, #signup-password {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 36px;
    color: #333333;
    margin-bottom: 17px;
}

.strong {
    font-weight: bold;
}

#signup-email-input, #signup-password-input {
    color: #333333;
    font-size: 20px;
    width: 95%;
    height: 28px;
    line-height: 110%;
    margin-bottom: 17px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 4px;
    font-family:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    vertical-align: middle;
}

#signup-btn {
    padding: 11px 15px;
    font-size: 24px;
    margin-top: 9px;
    cursor: pointer;
    background: #ff652f;
    color: #fff;
    text-shadow: 0 -1px 0 #c83400;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    line-height: normal;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#signup-btn:hover {
    background-color: #ff5216;
}

.tos-link {
    line-height: 18px;
    font-size: 14px;
    margin: 20px 0 10px;
    font-family:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.tos-link > a {
    text-decoration: none;
    color: #2094d0;
}

.tos-link > a:visited {
    text-decoration: none;
    color: #2094d0;
}

.tos-link > a:hover {
    text-decoration: underline;
    color: #005580;
}

#signup-name-input:focus, #signup-email-input:focus, #signup-password-input:focus {
    outline: none;
    border-style: solid;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

/* NAVBAR STYLING */

.nav-bar {
    height: 33px;
    width: 100%;
    background-color: #5bc5a6;
    border-bottom: 1px solid #48be9d;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-shadow: 0 -1px 0 #39a385;
    color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.nav-div {
    margin: 0 auto;
    height: 33px;
    max-width: 940px;
    position: relative;
}

.nav-styled-name {
    float: left;
    padding: 10px 20px 2px;
}

.nav-user-dropdown {
    float: right;
    padding: 10px 20px 2px;
}

#center-box {
    display: block;
    width: 558px;
    min-height: 100%;
    position: absolute;
    top: 35px;
    left: 50%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0 auto;
    margin-left: -279px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

#left-sidebar {
    display: block;
    width: 200px;
    /* remove later */
    height: 500px; 
    /* remove this later */
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -480px;
    border: 1px solid black;
}

#right-sidebar {
    display: block;
    width: 200px;
    /* remove later */
    height: 300px; 
    /* remove this later */
    position: absolute;
    top: 35px;
    right: 50%;
    margin-right: -482px;
    border: 1px solid black;
}

#left-sidebar-box {
    display: flex;
    flex-direction: column;
}

#ls-dashboard-link,
#ls-recent-link,
#ls-all-link {
    margin: 11px 0 0;
    padding: 3px 8px 5px 5px;
    font-size: 16px;
    line-height: 21px;
    display: block;
    height: 19px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: left;
    font-family:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#ls-dashboard-link:active,
#ls-recent-link:active,
#ls-all-link:active {
    margin: 11px 0 0;
    padding: 3px 8px 5px 5px;
    font-size: 16px;
    line-height: 21px;
    display: block;
    height: 19px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    text-align: left;
    font-family:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
    position: relative;
    margin-left: 5px;
    background: #f6f6f6;
    color: #ccc;
    font-size: 11px;
    margin-top: 5px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
    padding: 0 5px;
}

#invite-box {
    /* display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-top: none;
    padding: 3px 5px;
    margin: 15px 0 0 5px;
    white-space: nowrap;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 18px;
    width: 168px; */
}

#invite-box-title {
    background: #5bc5a7;
    color: #fff;
    border: 1px solid #39a385;
    font-weight: bold;
    font-size: 14px;
    padding: 3px 5px;
    margin: 15px 0 0 5px;
    text-shadow: 0 -1px 0 #3eaf8f;
    display: block;
    text-align: left;
    white-space: nowrap;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 18px;
    width: 168px;
}

#invite-box-btn {
    font-size: 12px;
    padding: 2px 6px;
    background: #eee;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-right-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 0;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* MODAL STYLING */

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #eee;
    opacity: 0.8;
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#invite-friend-modal {
    padding: 20px 25px;
    height: 236px;
    width: 510px;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color: white;
    border: 1px solid #333;
    border-radius: 6px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}